
body {
  background: #2a303a;  /* fallback for old browsers */
  margin: 0;
}

.bodyWrap {
  height: 100vh;
max-width: 1450px;
margin: 0 auto;
display: grid;
align-content: center;
}

.Iam {
  margin: 0 auto;
  font-size:75px;
  font-family: 'Unica One', cursive;
  color: #59656f;
}
.Iam p {
  height: 75px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 75px;
  top: 75px;
}
.Iam .innerIam {
  display: inline-block;
  color: #933c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:0s;
   -moz-animation-delay:0s;
    -ms-animation-delay:0s;
     -o-animation-delay:0s;
        animation-delay:0s;
}
@keyframes move{
0%  { top: -75px; }
25% { top: -100px; }
50% { top: -150px; }
75% { top: 0px; }
100% { top: -75px; }
}

@-webkit-keyframes move {
0%  { top: -75px; }
25% { top: -100px; }
50% { top: -150px; }
75% { top: 0px; }
100% { top: -75px; }
}
@-moz-keyframes move {
0%  { top: -75px; }
25% { top: -100px; }
50% { top: -150px; }
75% { top: 0px; }
100% { top: -75px; }
}
@-o-keyframes move {
0%  { top: -75px; }
25% { top: -100px; }
50% { top: -150px; }
75% { top: 0px; }
100% { top: -75px; }
}
@keyframes move {
0%  { top: -75px; }
25% { top: -100px; }
50% { top: -150px; }
75% { top: 0px; }
100% { top: -75px; }
}
